@charset "utf-8";

body{

    background: #ffffff;
}
article, nav, aside, header, footer{
    border:1px solid grey;
    padding:10px;
    box-sizing: border-box;
}
main {
    background: #ffffff;
    /*    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center ;*/
}
header{
    width: 100%;
    background-color: #ffa500;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*        width: calc(100% - 10px);*/
    /*    margin: 5px;*/
}
nav{
    width: 15%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #55eea0;
}
article{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5px;
    background-color: #ffcc8d;
}
aside{
    width: 35%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #6095f5;

}
section{
    background-color: #fdf8d8;
}


footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffccc0;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


/*@media screen and (max-width: 700px){
    div {



    }
    aside, article, nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}*/

